<!-- <div>
  <h1>This is heading for !!!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus impedit aspernatur tempora vero. Facere minima blanditiis impedit doloremque recusandae error obcaecati vitae voluptate eius, aperiam magnam quis pariatur ratione cum voluptas nemo alias!</p>
</div>
<router-outlet></router-outlet> -->

<div>
  <h3>CleverTap Web SDK using Angular</h3>
  <div>
    <button (click)="handleEventPushClick()">Push Event</button>
  </div>
</div>
<div>
  <!-- <h3>On User Login</h3>
  <div>
    <button (click)="handleEventPushClick()">Push Event</button>
  </div>
</div> -->
<hr> 

<div>
  <h3>On User Login</h3>
  <input type="text" [(ngModel)]="emailUserName" class="textInput"/>
  <input type="text" value="@gmail.com" disabled/>
  <button (click)="onClickOULSame()">OUL</button>
</div>
<hr> 

<div>
  <h3>On User Login Identity</h3>
  <input type="text" [(ngModel)]="userIdentity" class="textInput"/>
  <input type="text" value="@gmail.com" disabled/>
  <button (click)="onClickOULIdentitySame()">OUL Identity</button>
</div>
<hr> 

<div>
  <h3>Profile Push</h3>
  <input type="text" [(ngModel)]="constantPP" class="textInput"/>
  <input type="text" disabled value="@gmail.com" class="textInput"/>
  <button (click)="onClickPPSame()" >PP</button>
</div>
<hr> 

<div>
  <h3>PP Identity</h3>
  <input type="text" [(ngModel)]="constantPPIdentity" class="textInput"/>
  <button (click)="onClickPPIdentitySame()" >PP Identity</button>
</div>

<router-outlet></router-outlet>
