<!-- <div>
  <h1>This is heading for !!!</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minus impedit aspernatur tempora vero. Facere minima blanditiis impedit doloremque recusandae error obcaecati vitae voluptate eius, aperiam magnam quis pariatur ratione cum voluptas nemo alias!</p>
</div>
<router-outlet></router-outlet> -->

<div>
  <h3>CleverTap Web SDK using Angular</h3>
  <div>
    <button (click)="handleEventPushClick()">Push Event</button>
  </div>
</div>
<div>
  <!-- <h3>On User Login</h3>
  <div>
    <button (click)="handleEventPushClick()">Push Event</button>
  </div>
</div> -->
<div>
  <h3>On User Login</h3>
  <input type="text" id="constantOUL" class="textInput" /><input
  type="text"
  disabled
  value="@gmail.com"
  class="textInput"
  />
  <button (click)="onClickOULSame()">OUL</button>
</div>


<router-outlet></router-outlet>
